<div class="row">
	<div class="col-12">
		<h2>Ready to connect</h2>

		<form
			method="post"
			action="/connect"
			id="form"
			class="mt-3"
			onSubmit="showWaiting()"
		>
			<input type="hidden" name="ssid" value="<%= ssid %>" />
			<input type="hidden" name="password" value="<%= password %>" />

			<p>A attempt will be made to connect to '<%= ssid %>'</p>

			<div class="alert alert-danger" role="alert">
				You will lose connection to this server when you click Connect. If
				connection to the wifi network fails, the hotspot will reactivate in 2
				minutes and you can try again.
			</div>

			<button class="btn btn-primary" id="connect">Connect</button>
			<a
				class="btn btn-secondary"
				href="ssids"
				id="back"
				onClick="showWaiting()"
				>Back</a
			>
		</form>
	</div>

	<%- include('./spinner.ejs') %>
</div>

<script>
	function showWaiting() {
		document.getElementById("busy").style.display = "block";
		document.getElementById("connect").setAttribute("disabled", "true");
		document.getElementById("back").setAttribute("disabled", "true");
	}
</script>
