<h2>SSIDs</h2>

<form method="post" action="/connect" id="form">
	<input type="hidden" name="ssid" value="<%= ssid %>" />
	<input type="hidden" name="password" value="<%= password %>" />
	<p>SSID: <%= ssid %></p>
	<p>Blah</p>
	<button>Connect</button>
</form>
