<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/static/css/wifly.css" rel="stylesheet" />
		<title>Wifly</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-primary mb-3">
			<div class="container">
				<a class="navbar-brand text-light" href="/">WiFly</a>
			</div>
		</nav>
		<div class="container">
			<%- body %>
			<div class="row">
				<div class="col-12 mt-5 pt-2 pr-0 fw-lighter fst-italic border-top">
					<a href="github.com/mrpjevans/wifly.git"
						>github.com/mrpjevans/wifly.git</a
					>
				</div>
			</div>
		</div>
	</body>
</html>
