<h2>SSIDs</h2>

<form method="post" action="/confirm" id="form">
	<input type="hidden" name="ssid" value="<%= ssid %>" />
	<p>SSID: <%= ssid %></p>
	<p>
		<input type="text" name="password" />
	</p>
	<button>Proceed</button>
</form>
