<h2>SSIDs</h2>

<form method="post" action="/connect" id="form">
	<input type="hidden" name="ssid"/>
	<input type="hidden" name="password"/>
<ul>
	<% for(network of networks) { %>
		<li><a href="security?ssid=<%= network.ssid %>"><%= network.ssid %></a></li>
	<% } %>
</ul>
</form>
